# Ignore everything
*

# Do not ignore the .gitignore file itself
!.gitignore

# Do not ignore specific files and folders
!py-setup/**
!.gitconfig

# Unignore the nvim folder and its contents inside .config/
!.config/
!.config/nvim/
!.config/nvim/**
